body{
	background-color:pink;
	background-image:url(../image/viona.png),url(../image/1.png ),url(../image/billy.jpg);
	
	background-size: 15%40%,20%,cover ;
	background-repeat:no-repeat; 
	background-position:20%bottom,80%20%,center ;
	background-attachment: fixed;

}
.bby{
	float
}
.container{
	width: 600px;
	background-color: ;
	text-align: left;
	min-height: 500px;
	color:black;
	margin: auto;
	float: center;
	padding: 30px;

}