body{
color:#222;	
background-color: pink;
}
.cont{
	width:800px;
	padding: 20px;
	margin: 0 auto;
	background-color: #fff;
}
h1{
font-family: 'Hind Guntur', sans-serif;

}
h2{
	font-family: 'Maiden Orange', cursive;

}
.flip-box {
  background-color: blue;
  width: 300px;
  height: 200px;
  border: 1px solid #f1f1f1;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}
p{
	font-family: 'Satisfy', cursive
}
.instagram-icon{
	background-color:#bc2a8d;
	height: 40px;
	width: 40px;
	border-radius: 15px;
	
}
